# Node Package Manager (NPM)
node_modules

# Editor / Integrated Development Environment (IDE)
## VS Code
.vscode/*

# OS Files
## MacOS
.DS_Store

# Working Files
## Compiled Python
__pycache__/
## Experience Builder
ArcGISExperienceBuilder/
## Build Files
apps/apps/**/download-times.json
dist/
